@font-face {
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: 400;
    src: local("Vollkorn"), url("../fonts/Vollkorn-Regular.ttf") format("opentype")
}

@font-face {
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: 700;
    src: local("Vollkorn"), url("../fonts/Vollkorn-Bold.ttf") format("opentype")
}