.navigation {
    &__list {
        display: flex;
        margin: 0;
        flex-direction: column;
        padding: 0;
    }
    
    &__item {
        text-align: center;
        list-style-type: none;
        margin: 12px 0;
    }
    
    &__link {
        color: var(--basic-gray);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-decoration: none;
    }
    
    &__link_current {
        color: var(--basic-black);
    }
}
